@import url('https://fonts.googleapis.com/css2?family=font-name&family=optional-2nd-font-name&display=swap');
:root {
    --primary-color:#941100;
    --seconday_color: #33658A;
    --accent1_color: #86BBD8;
    --accent2_color: #2F4858;

    --heading-font: '________', serif;
    --paragrapg-font: '_________, serif;'

    --nav-background-color:#941100;
    --nav-link-color: #33658A;
    --nav-hover-link-color: #86BBD8;
    --nav-hover-background-color:#2F4858;
}
header, .grid, footer{
  max-width: 840px;
  margin: 0 auto;
}
footer{
  justify-items: center;
}
.wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
h1, h2{
    color:var(--primary-color)
}
h2{
  font-size: 50px;
}

body, html {
    height: 100%;
    color:var(--seconday_color)
}
p{
    color:var(--seconday_color)
}

/* The hero image */
.hero-image {
  background-image:url("/wwr/images/rafting.png");

  /* Set a specific height */
  height: 100%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.navigator{
  display: flex;
  justify-content: right;
}
.adventure{
  display:grid ;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.history{
  display: grid;
  grid-template-columns: 1fr 10px 1fr 10px 1fr;
  justify-items: center;
}
